<!DOCTYPE html>
<#include "/console/layout/main.html"/>
<html class="fuelux" >
<@headEdit/>
<body>
<div class="container">
    <form role="form" id="formSubmit" commandName="ksjl" class="form-horizontal"
          data-fv-framework="bootstrap"
          data-fv-message="This value is not valid"
          data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <!-- Modal -->
        <div class="panel panel-default">
            <div class="panel-heading">考生简历表</div>
            <div class="panel-body">
                <div class="control-group">
                                   <input type="hidden" name="id" id="id" /> 

                </div>
                          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="ksh">考生号</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="ksh" name="ksh" maxlength="50" placeholder="输入考生号" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="qsrq">起始日期</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="date" class="form-control"  id="qsrq" name="qsrq" maxlength="50" placeholder="输入起始日期" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="zjrq">终结日期</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="date" class="form-control"  id="zjrq" name="zjrq" maxlength="50" placeholder="输入终结日期" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="jl">简历内容</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="jl" name="jl" maxlength="50" placeholder="输入简历内容" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="rhzw">任何职务</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="rhzw" name="rhzw" maxlength="50" placeholder="输入任何职务" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="zmr">证明人</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="zmr" name="zmr" maxlength="50" placeholder="输入证明人" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="sf">省份</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="sf" name="sf" maxlength="50" placeholder="输入省份" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="pc">批次</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="pc" name="pc" maxlength="50" placeholder="输入批次" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="ny">年月</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="ny" name="ny" maxlength="50" placeholder="输入年月" size="100" required   />
                </div> 
          </div> 

            </div>

            <div class="panel-footer">
                <div class="row control-group">
                    <div class="col-sm-4 col-sm-offset-5">
                        <div style="align-content: center">
                            <button type="submit" id="save" class="btn btn-primary" >保存</button>
                            <button type="button" id="back" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>
<!-- /.container -->

</body>
<@foot/>
<script src="${base}/styles/js/module/business/ksjl/edit.js"></script>
<script type="text/javascript">
    var ksjl = JSON.parse(JSON.stringify(${ksjl}));
</script>
</html>

