<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.business.mapper.BatchMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.business.entity.Batch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_year" property="batchYear" jdbcType="INTEGER" />
    <result column="batch_name" property="batchName" jdbcType="VARCHAR" />
    <result column="batch_scores" property="batchScores" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, batch_year, batch_name, batch_scores
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.business.entity.BatchCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from business_batch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from business_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.business.entity.BatchCriteria" >
    delete from business_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.business.entity.Batch" >
    insert into business_batch (id, batch_year, batch_name, 
      batch_scores)
    values (#{id,jdbcType=INTEGER}, #{batchYear,jdbcType=INTEGER}, #{batchName,jdbcType=VARCHAR}, 
      #{batchScores,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.business.entity.Batch" >
    insert into business_batch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batchYear != null" >
        batch_year,
      </if>
      <if test="batchName != null" >
        batch_name,
      </if>
      <if test="batchScores != null" >
        batch_scores,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchYear != null" >
        #{batchYear,jdbcType=INTEGER},
      </if>
      <if test="batchName != null" >
        #{batchName,jdbcType=VARCHAR},
      </if>
      <if test="batchScores != null" >
        #{batchScores,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.business.entity.BatchCriteria" resultType="java.lang.Integer" >
    select count(*) from business_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update business_batch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.batchYear != null" >
        batch_year = #{record.batchYear,jdbcType=INTEGER},
      </if>
      <if test="record.batchName != null" >
        batch_name = #{record.batchName,jdbcType=VARCHAR},
      </if>
      <if test="record.batchScores != null" >
        batch_scores = #{record.batchScores,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update business_batch
    set id = #{record.id,jdbcType=INTEGER},
      batch_year = #{record.batchYear,jdbcType=INTEGER},
      batch_name = #{record.batchName,jdbcType=VARCHAR},
      batch_scores = #{record.batchScores,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.business.entity.Batch" >
    update business_batch
    <set >
      <if test="batchYear != null" >
        batch_year = #{batchYear,jdbcType=INTEGER},
      </if>
      <if test="batchName != null" >
        batch_name = #{batchName,jdbcType=VARCHAR},
      </if>
      <if test="batchScores != null" >
        batch_scores = #{batchScores,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.business.entity.Batch" >
    update business_batch
    set batch_year = #{batchYear,jdbcType=INTEGER},
      batch_name = #{batchName,jdbcType=VARCHAR},
      batch_scores = #{batchScores,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>