<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<html>
<head>
    <title>starting page</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>
<body>
您访问的页面不存在...
</body>
<script type="text/javascript">
    setTimeout(function() {
        var localObj = window.location;
        var basePath = localObj.protocol + "//" + localObj.host + "/console/index" ;
        var index = basePath;
        parent.window.location = index;
    },4000);
</script>
</html>
