<!DOCTYPE html>
<html>
<#include "/console/layout/main.html"/>
<@head/>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">打印模板管理</div>
        <div class="panel-body">
            <table id="tableB" class="table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true">ID</th>
                    <th data-field="modName" class="col-md-3">模板名称</th>
                    <th data-field="modWidth" class="col-md-2">模板图宽(px)</th>
                    <th data-field="modHeight" class="col-md-2">模板图高(px)</th>
                    <th data-field="url" class="col-md-3" data-formatter="imgFormatter">模板图</th>
                    <th data-field="stateTime" class="col-md-2">更新时间</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div><!--/.container-->
<div id="custom-toolbar">
    <form role="form" name="form" id="form1">
        <div class="form-inline" role="form">
            <div class="row">
                <div class="col-md-3">
                    <select class="form-control " id="search_select" name="search_select">
                        <option value="search_modName">模板名称</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="输入模板名称" id="search"
                               name="search_modName">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="query" name="query" title="查询"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="btn-group" id="do">
                        <@shiro.hasPermission name="Primod:save">
                        <button type="button" class="btn btn-default" id="add" name="add" title="新增" ><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </@shiro.hasPermission>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="to" style="display:none;">
    <@shiro.hasPermission name="Primod:edit">
    <button type="button" class="btn btn-default" id="modify" name="modify" title="修改"><span
            class="glyphicon glyphicon-edit"></span></button>
</@shiro.hasPermission>
<@shiro.hasPermission name="Primod:delete">
<button type="button" class="btn btn-default" id="delete" name="delete" title="删除"><span
        class="glyphicon glyphicon-remove"></span></button>
</@shiro.hasPermission>
</div>
</body>
<@foot/>
<script src="${base}/styles/js/module/business/primod/list.js"></script>
</html>

