<!DOCTYPE html>
<#include "/console/layout/main.html"/>
<html class="fuelux">
<@headEdit/>
<body>
<div class="container">
    <form role="form" id="formSubmit" commandName="priitems" class="form-horizontal"
          data-fv-framework="bootstrap"
          data-fv-message="This value is not valid"
          data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <!-- Modal -->
        <div class="panel panel-default">
            <div class="panel-heading">打印项</div>
            <div class="panel-body">
                <div class="control-group">
                    <input type="hidden" name="priId" id="priId"/>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="modId">打印模板</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <select id="modId" name="modId" class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priCode">打印项</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <select id="priCode" name="priCode" class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priValue">打印项值</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="priValue" name="priValue" maxlength="50"
                               placeholder="输入打印项值" size="100" required/>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priTop">上边距</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="priTop" name="priTop" maxlength="50"
                               placeholder="输入上边距" size="100" required/>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priLeft">左边距</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="priLeft" name="priLeft" maxlength="50"
                               placeholder="输入左边距" size="100" required/>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priWidth">宽</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="priWidth" name="priWidth" maxlength="50"
                               placeholder="输入宽" size="100" required/>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="priHeight">高</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="priHeight" name="priHeight" maxlength="50"
                               placeholder="输入高" size="100" required/>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row control-group">
                    <div class="col-sm-4 col-sm-offset-5">
                        <div style="align-content: center">
                            <button type="submit" id="save" class="btn btn-primary">保存</button>
                            <button type="button" id="back" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>
<!-- /.container -->

</body>
<@foot/>
<script src="${base}/styles/js/module/business/priitems/edit.js"></script>
<script type="text/javascript">
    var priitems = JSON.parse(JSON.stringify(${priitems}));
</script>
</html>

