<!DOCTYPE html>
<html>
<#include "/console/layout/main.html"/>
<@head/>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">学生照片管理</div>
        <div class="panel-body">
            <table id="tableB" class="table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="studentYear" class="col-md-2">学生年份</th>
                    <th data-field="path" class="col-md-8">路径</th>
                    <th data-field="path" class="col-md-2" data-formatter="imagesFormatter">预览</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>
</div><!--/.container-->
<div id="custom-toolbar">
    <form role="form" name="form" id="form1">
        <input type="hidden" id="filePath" name="filePath">
        <div class="form-inline" role="form">
            <div class="row">
                <div class="col-md-3">
                    <select class="form-control " id="search_select" name="search_select">
                        <option value="search_studentYea">年份</option>
                        <option value="search_path">路径</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="输入查询条件" id="search"
                               name="search_username">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="query" name="query" title="查询"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="btn-group" id="do">
                        <@shiro.hasPermission name="Picture:save">
                        <button type="button" class="btn btn-default" id="add" name="add" title="新增" ><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </@shiro.hasPermission>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
<div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">前十图片预览</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" >
                        <div class="col-xs-12" id="imgs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="to" style="display:none;">
    <@shiro.hasPermission name="Picture:edit">
    <button type="button" class="btn btn-default" id="modify" name="modify" title="修改"><span
            class="glyphicon glyphicon-edit"></span></button>
</@shiro.hasPermission>
<@shiro.hasPermission name="Picture:delete">
<button type="button" class="btn btn-default" id="delete" name="delete" title="删除"><span
        class="glyphicon glyphicon-remove"></span></button>
</@shiro.hasPermission>
</div>
</body>
<@foot/>
<script src="${base}/styles/js/module/business/picture/list.js"></script>
</html>

