<!DOCTYPE html>
<#include "/console/layout/main.html"/>
<html class="fuelux" >
<@headEdit/>
<body>
<object  id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
    <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="${base}/styles/js/module/business/student/install_lodop.exe"></embed>
</object>
<div class="container">
    <form role="form" id="formSubmit" commandName="student" class="form-horizontal"
          data-fv-framework="bootstrap"
          data-fv-message="This value is not valid"
          data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <!-- Modal -->
        <div class="panel panel-default">
            <div class="panel-heading">信封信息</div>
            <div class="panel-body">
                <div class="control-group">
                    <input type="hidden" name="id" id="id"/>
                </div>
                <fieldset>
                    <legend class="btn-primary" style="font-size:12px">寄件人</legend>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jjrxm">寄件人姓名</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jjrxm" name="jjrxm" value="夏老师" readonly="true"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jjrdh">电话</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jjrdh" name="jjrdh" value="057186843333" readonly="true"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jjrdwmc">单位名称</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jjrdwmc" name="jjrdwmc" value="浙江理工大学招生办" readonly="true"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jjrdz">地址</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jjrdz" name="jjrdz" value="浙江杭州下沙高教园区2号大街928号" readonly="true"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jjryb">邮编</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jjryb" name="jjryb" value="310018" readonly="true"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="btn-primary" style="font-size:12px">收件人</legend>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="sjr">收件人姓名</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="sjr" name="sjr"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="lxdh">电话</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="lxdh" name="lxdh"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="jtdz">地址</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="jtdz" name="jtdz"/>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="yzbm">邮编</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="yzbm" name="yzbm"/>
                        </div>
                    </div>
                    <!--<div class="row control-group">
                        <div class="col-sm-2 col-sm-offset-1">
                            <label class="control-label" for="tzsh">通知书号</label>
                        </div>
                        <div class="col-sm-8 controls">
                            <input type="text" class="form-control"  id="tzsh" name="tzsh"/>
                        </div>
                    </div>-->
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="row control-group">
                    <div class="col-sm-4 col-sm-offset-5">
                        <div style="align-content: center">
                            <button type="button" id="print" class="btn btn-primary" >打印</button>
                            <button type="button" id="back" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>
<!-- /.container -->

</body>
<@foot/>
<script src="${base}/styles/js/module/business/student/printComm.js"></script>
<script type="text/javascript">
    var student = JSON.parse(JSON.stringify(${student}));
    var primod = JSON.parse(JSON.stringify(${primod}));
    var priitemsList = JSON.parse(JSON.stringify(${priitemsList}));
</script>
</html>

