<!DOCTYPE html>
<#include "/console/layout/main.html"/>
<html class="fuelux" >
<@headEdit/>
<body>
<div class="container">
    <form role="form" id="formSubmit" commandName="item" class="form-horizontal"
          data-fv-framework="bootstrap"
          data-fv-message="This value is not valid"
          data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <!-- Modal -->
        <div class="panel panel-default">
            <div class="panel-heading">模板字段</div>
            <div class="panel-body">
                <div class="control-group">
                                   <input type="hidden" name="itemId" id="itemId" /> 
          <input type="hidden" name="modelId" id="modelId" /> 
          <input type="hidden" name="state" id="state" /> 

                </div>
                          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="sourceTabel">源表</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="sourceTabel" name="sourceTabel" maxlength="50" placeholder="输入源表" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="sourceField">源字段</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="sourceField" name="sourceField" maxlength="50" placeholder="输入源字段" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="targetTable">目标表</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="targetTable" name="targetTable" maxlength="50" placeholder="输入目标表" size="100" required   />
                </div> 
          </div> 
          <div class="row control-group">
                <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="targetField">目标字段</label>
                </div>
                    <div class="col-sm-8 controls">
                   <input type="text" class="form-control"  id="targetField" name="targetField" maxlength="50" placeholder="输入目标字段" size="100" required   />
                </div> 
          </div> 

            </div>

            <div class="panel-footer">
                <div class="row control-group">
                    <div class="col-sm-4 col-sm-offset-5">
                        <div style="align-content: center">
                            <button type="submit" id="save" class="btn btn-primary" >保存</button>
                            <button type="button" id="back" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>
<!-- /.container -->

</body>
<@foot/>
<script src="${base}/styles/js/module/business/item/edit.js"></script>
<script type="text/javascript">
    var item = JSON.parse(JSON.stringify(${item}));
</script>
</html>

